@use '@styles/variables' as *;
@use '@styles/mixins' as *;

$pos: 20px;

.widget {
    @include widget();
}

.backHome {
    @include widget($r: $pos, $b: $pos);
    
    // background-color: var(--secondary);
    transition: transform 200ms;

    &:hover {
        transform: scale(1.05);
    }

    > a {
        padding: 10px;
        font-size: 2rem;
    }
}