$transition: 0.3s ease-in-out;
$scale: 40px;

.image-slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .prev-btn {
        left: 10px;
    }
    
    .next-btn {
        right: 10px;
    }

    .slider-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        width: $scale;
        height: $scale;
        font-size: 1rem;
        background: rgba(0, 0, 0, 0.5);
        color: snow;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        z-index: 10;
        border-radius: 50%;
        transition: opacity $transition;

        &:hover {
            opacity: 1 !important;
        }
    }

    img {
        max-width: 100%;
        border-radius: 8px;
        transition: transform $transition;

    }

    &:hover {
        .slider-btn {
            opacity: 0.7;
        }
    }
}