@use '@styles/variables' as *;

.about {
    background-color: $primary-light;

    .content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .about-text {
        padding: 10px;
    }

}