/** HEADER FILE **/


/**  ==========================  IMPORTS  ==========================  **/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


/* FIX LATER */ 
/* *,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */


body {
  background-color: #fbfcfe;
}


#header {
  background-color: #fbfcfe;
  height: 620px;
  position: relative;
}

#header div.header-div1 {
  user-select: none;
  position: relative;
  width: 300px;
  height: 300px;
  top: 90px;
  left: 160px;
}


#header div.header-div1:hover {
  animation: grow 2s forwards;
  animation-timing-function: ease;
  /* animation-play-state: paused; */
}


#header div.header-div1:not(:hover){
  animation: shrink 2s forwards;
  animation-timing-function: ease;
  /* animation-play-state: paused; */
}


#header .header-div1 p:nth-child(1) {
  font-family: 'EB Garamond', serif;
  font-size: 22px;
  font-weight: bold;
  color: #88b3ddef;
}

#header .header-div1 p:nth-child(1):hover {
  color: #5aadff;
}

#header .header-div1 p:nth-child(2) {
  font-family: 'Sacramento', cursive;
  font-size: 100px;
  font-weight: bold;
  color: #3473b2;
  line-height: 1;
  display: inline;
  position: relative;
  top: -12px;
  left: -19px;
}

#header .header-div1 p:nth-child(2):hover {
  color: #2c80d4;
}

#header .header-div1 p:nth-child(3) {
  font-family: 'Playfair Display', serif;
  font-weight: 769;
  color: #f3bcff;
  position: relative;
  left: 70px;
  top: -40px;
}

#header .header-div1 p:nth-child(3):hover {
  color: #eca3fd;
}

.header-div2{
  position: absolute; /* Make the parent container positioned */
  width: 400px; /* Set the width of the container as needed */
  height: 200px; /* Set the height of the container as needed */
  /* background-color: lightgray; Just for visualization */
  left: 750px;
  top: 140px;
}

.header-div2:hover {
  animation: grow 2s forwards;
}

.header-div2:not(:hover) {
  animation: shrink 2s forwards;
}

.rainbow-font {
  -webkit-animation: hueanimation 9.5s infinite linear;
  /* color: rgb(255, 255, 0); */
}



.header-div2 div{
  user-select: none;
  position: absolute; /* Position the inner div absolutely within the parent */
  top: 90%; /* Adjust the top position as needed */
  left: 50%; /* Adjust the left position as needed */
  transform: translate(-50%, -50%); /* Center the inner div */
  font-size: 350px; /* Adjust the font size as needed */
  color: rgb(255, 0, 119); /* Set the text color as needed */
  text-shadow: 5px 2px 6px rgba(0, 0, 0, 0.5);
}

.header-div2 div:hover {
  animation: ch-shadow 4s forwards;
}



/* First Style */
/* --text: #091420;
--background: #fbfcfe;
--primary: #88b2dd;
--secondary: #c4d9ee;
--accent: #3473b2; */


/* Second Style */
/* --text: #061801;
--background: #dffdd8;
--primary: #5bf58c;
--secondary: #f3cafc;
--accent: #ec0ea6; */




