@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


#nav-bar {
  background-color: #88b2dd;
  padding: 10px 0;
}

#nav-bar ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

#nav-bar li {
  display: inline;
  margin-right: 110px;
  font-family: 'Playfair Display', serif;
}

#nav-bar button {
  text-decoration: none;
  background-color: #88b2dd;
  color: #091420;
  font-weight: bolder;
  font-size: 36px;
  border: none;
  padding: 10px 20px;
}

#nav-bar button:hover {
  color: #0008ff;
  background-color: #85c2ff;
  transition: color 1s, background-color 1s;
  border: 2px solid black;
  
  border-radius: 50%;
}




