@use '@styles/variables' as *;
@use '@styles/animations' as *;
@forward 'typewriter';
@forward 'global';

.home {
    min-height: 100vh;

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: $gap;

        @media (max-width: $breakpoint-sx) {
            max-width: 200px;
            row-gap: $gap-big;
            .cv {
                flex-direction: column;
                row-gap: 20px;
            }
        };

        h1 {
            img {
                all: unset;
            }
        }        

        .job {
            display: flex;
            flex-direction: column;
            row-gap: $gap;

            h2 {
                white-space: nowrap !important;
            }
        }
        
        span.h1-span {
            padding-right: 25px;
        }

        .html-tag {
            animation: color-change 5s infinite;
        }



        .cv {
            display: inline-flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;


        }
    }

    q {
        font-size: size(regularRoot);
    }
}

.quotes {
    font-style: italic;
}

.social {
    padding-top: 10px;

    img.icon {
        cursor: pointer;
        filter: invert(1);

        &:hover {
            transform: scale(1.2);
        }

        transition: transform 300ms ease;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: $gap-big;
    }
}