$red: hsl(0, 75%, 40%);

header {
    color: $red;
    background-color: darken($red, 20%);
    li a {
        list-style: none;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        color: lighten($red, 25%) !important;
    }
}