@use '@styles/variables' as *;
@use '@styles/utils' as *;
@use '@styles/animations' as *;
@import '@styles/resets';

nav.sidebar {
    position: fixed;
    right: -90vw;
    min-width: 90vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $secondary;

    .nav-ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        row-gap: $gap-big;
    }

    .nav-item {
        font-size: size(medium);
    }

}

.nav-btn {
    position: absolute;
    background-image: url(@public/menu.svg);
    background-size: contain;
    background-color: $primary;
    border-top-left-radius: $border-radius-btn;
    border-bottom-left-radius: $border-radius-btn;
    right: 1px;
    top: 15%;
    border: none;
    padding: 16px;
    cursor: pointer;
    filter: invert(1);
    transition: right 300ms ease-in;
    
    @media (min-width: $breakpoint-sm) {
        display: none;
    }
}