@use '@styles/variables' as *;
@use '@styles/utils' as *;
@use '@styles/animations' as *;
@import '@styles/resets';

nav.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        direction: rtl;
        gap: $gap-big;
    }
    
    li {
        list-style: none;
        padding: 25px 35px 25px 35px;
    }

    a {
        --_color: $secondary;
        text-decoration: none;  
        font-weight: weight(bold);
        letter-spacing: 1px;
        color: var(--_color, snow);
        display: inline-block;
        position: relative;
        transition: all 300ms ease;
    
        &:hover {
            transform: scale(1.05);
            color: $color6;

            &::after {
                opacity: 1 !important;
                transform: rotate(15deg);
                bottom: -5px;
                right: -20px;
            }
        }

        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            width: var(--_scale);
            height: var(--_scale);
            right: 0;
            bottom: 0;
            transition: all 300ms ease;
            opacity: 0;
            background-size: cover;

            --_scale: 16px;
        }

        &[data-content="terminal"] {
            &::after {
                animation: terminal-bg 1s infinite;
            }
        }

        &[data-content="projects"] {
            &::after {
                background-image: url(@public/gear.svg);
                animation: spin 1.5s linear infinite;
            }
        }

        &[data-content="about"] {
            &::after {
                content: '👋';
                // background-image: url(@public/greeting.png);
                animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
                animation-duration: 2.5s;        /* Change to speed up or slow down */
                animation-iteration-count: infinite;  /* Never stop waving :) */
            }
        }

        &[data-content="home"] {
            &::after {
                background-image: url(@public/home.svg);
            }
        }
    }    

}

hr {
    opacity: 0.3;
}