@use '@styles/variables' as *;
@forward '@styles/card.scss';
@forward '@styles/index.scss';

.projects {

    .content {
        padding: $padding;

        @media (max-width: $breakpoint-sx) {
            padding: 0;
            h2 { text-align: center; }
        }
    }

    .projects-container {
        padding-top: $padding;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: $gap-big;
        flex-wrap: wrap;
    }

}

