@use '@styles/variables' as *;

.footer {
    > p {
        padding-bottom: 20px;
        > a {
            text-decoration: none;
            &:hover {
                text-decoration: underline !important;
            }
        }
    }
    padding: 50px;
    text-align: center;
    background-color: $primary-light;
}