@use '@styles/variables' as *;
@use '@styles/mixins' as *;

@keyframes terminal-bg {
    0%, 100% {
        background-image: url(@public/terminal.webp);
    }
    50% {
        background-image: url(@public/terminal.active.webp);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes wave-animation {
    $scale: scaleX(-1);
    0% { transform: $scale rotate( 0.0deg) }
   10% { transform: $scale rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: $scale rotate(-8.0deg) }
   30% { transform: $scale rotate(14.0deg) }
   40% { transform: $scale rotate(-4.0deg) }
   50% { transform: $scale rotate(10.0deg) }
   60% { transform: $scale rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: $scale rotate( 0.0deg) }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


  