// Mixin for media queries
@mixin respond-to($breakpoint) {
    @if $breakpoint == small {
      @media (max-width: $breakpoint-sm) { @content; }
    } @else if $breakpoint == medium {
      @media (max-width: $breakpoint-md) { @content; }
    } @else if $breakpoint == large {
      @media (max-width: $breakpoint-lg) { @content; }
    } @else if $breakpoint == extra-large {
      @media (max-width: $breakpoint-xl) { @content; }
    }
}
  
@mixin flex() {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}



@mixin scroll-fade($duration: 0.6s, $ease: ease-out) {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity $duration $ease, transform $duration $ease;

  &.visible {
    animation: fade-in $duration forwards;
  }
}

.scroll-fade {
  @include scroll-fade();
}

.custom-scroll-fade {
  @include scroll-fade(0.8s, ease-in-out);
}
