// Mixin for media queries
@mixin respond-to($breakpoint) {
    @if $breakpoint == small {
      @media (max-width: $breakpoint-sm) { @content; }
    } @else if $breakpoint == medium {
      @media (max-width: $breakpoint-md) { @content; }
    } @else if $breakpoint == large {
      @media (max-width: $breakpoint-lg) { @content; }
    } @else if $breakpoint == extra-large {
      @media (max-width: $breakpoint-xl) { @content; }
    }
  }
  

@mixin flex() {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}