@function weight ($weight-name) {
    @return map-get($map: $font-weights, $key: $weight-name);
}

@function size ($font-name) {
    @return map-get($map: $font-sizes, $key: $font-name);
}

@function responsive($value, $factor) {
    // $factor validation (vw, vh or %)
    // @if not (unit($factor) == 'vw' or unit($factor) == 'vh' or unit($factor) == '%') {
    //   @error "the $factor param: #{$factor} isn't valid. Use 'vw', 'vh' or '%' instead.";
    // }
    @return calc($value + $factor);
}
  

@function font-scale($step) {
    @return $base-font-size * pow($scale-factor, $step);
}

// $primary: hsla(211, 53%, 11%, 1);
// $secondary: hsla(219, 37%, 17%, 1);
// $color3: hsla(212, 29%, 36%, 1);
// $color4: hsla(214, 23%, 56%, 1);
// $color5: hsla(75, 6%, 87%, 1);

// Common breakpoints for responsiveness
$breakpoint-sx: 345px;  // smaller
$breakpoint-sm: 602px;  // small
$breakpoint-md: 768px;  // medium
$breakpoint-lg: 992px;  // large
$breakpoint-xl: 1200px; // extra-large

$transition-default: all 300ms ease-in;

$primary: #191919;
$primary-light: lighten($color: $primary, $amount: 2%);
$secondary: rgb(255, 250, 250); // #fffafa
$color3: #6E8894;
$color4: #BC4B51;
$color5: #FF220C;
$color6: #FFB900;

$base-spacing: 16px;
$gap: 16px;
$gap-big: $gap * 2;

// Fonts
$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-weights: (
    regular: 400,
    medium: 500,
    bold: 700,
    bolder: 800,
    extra-bold: 900,
);
$base-font-size: 16px;
$scale-factor: 1.5;
$font-sizes: (
    smaller: floor(font-scale(-2)),
    smaller-small: floor(font-scale(-1.5)),
    small: floor(font-scale(-1)),
    small-regular: floor(font-scale(-0.5)),
    regular: $base-font-size,
    regular-medium: floor(font-scale(1.5)),
    medium: floor(font-scale(2)),
    medium-large: floor(font-scale(2.5)),
    large: floor(font-scale(3)),
);
@debug $font-sizes;

$border-radius-btn: 8px;

$ba-light: lighten($primary, 10%);
$ba-deg: -45deg;
$ba-gradient: linear-gradient(
  $ba-deg,
  $ba-light,
  $primary,  lighten($primary, 0.1%),  $primary, $primary, $primary, $primary,  $primary,  lighten($primary, 0.1%),  $primary,  $primary,  
  lighten($primary, 0.1%),  $primary,  $primary,  $primary,  $primary,  $primary,  $primary,  $primary,  $primary,  $primary, /* primary */
  $ba-light
);

$max-z-index: 100;

:root {
    font-family: $font-family;
    font-size: size(regular);
    background-color: $primary;
    color: $secondary;

    --sx-breakpoint: #{$breakpoint-sx};
    --sm-breakpoint: #{$breakpoint-sm};
    --md-breakpoint: #{$breakpoint-md};
    --lg-breakpoint: #{$breakpoint-lg};
    --xl-breakpoint: #{$breakpoint-xl};
}
