@use '@styles/variables' as *;
@use '@components/main/sections/projects/variables' as pVar; // Projeects variables

.card {
    border-radius: $border-radius-card;
    background-color: var(--primary-light);

    box-shadow: pVar.$box-shadow;
    $_border-color: pVar.$border-color;
    $_border-color-light: lighten($_border-color, 5%);
    $_border: 1px solid $_border-color;
    border: $_border;
    // cursor: pointer;

    transition: box-shadow 250ms, border 250ms;

    &:hover {
        box-shadow: pVar.$box-shadow-hover;
        $_border: 1px solid $_border-color-light;
        border: $_border;
    }

    .card-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: $gap-big;
        padding: pVar.$padding;

        .card-title {
            text-align: center;
        }

        .actions {
            width: 100%;
            display: inline-flex;
            justify-content: space-between;
        }
    }

    // *WIDTH DIFF*
    .projects & {
        width: pVar.$card-width;
    }

    .tech & {
        white-space: nowrap;
        width: 120px;
        max-width: 200px;
    }
}


// Inspired by https://codepen.io/aaroniker/pen/yLEPJXj