$mark_quantity: 12;

@keyframes highlight {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}
  
mark {
    background: linear-gradient(
        to right,
        #6E8894 50%,
        oklch(0.86 0.19 84.89 / 0) 50%
    );
    background-position: 100%;
    background-size: 200% 100%;
    border-radius: 0.125rem;
    padding-inline: 0.125rem;
    animation: none;

    .visible & {
        animation: highlight .5s linear forwards;
    }
}

@for $i from 1 through $mark_quantity {
    mark:nth-child(#{$i}) {
      animation-delay: #{200ms * $i};
    }
  }
  
  