@use './variables' as v;

html {
    color-scheme: light dark;
}

body {
    margin-inline: auto;
    max-width: 3000px;
    min-height: 100vh;
    overflow-x: hidden;
}

h1 {
    $default-font-size: map-get($map: v.$font-sizes, $key: medium-large);
    font-size: $default-font-size;
    @media (max-width: v.$breakpoint-sm) {
        $default-font-size: v.responsive(map-get($map: v.$font-sizes, $key: medium), 2vw);
        font-size: $default-font-size;
    }
}